

/* 
creat new section block
 */

#create-new-cont{
  background: linear-gradient(269.91deg, rgba(188, 197, 149, 0.5) 23.73%, rgba(255, 205, 177, 0.3) 98.33%);
  border-radius: 30px;
  position: relative;

  width: 90%;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

#create-new-text{
  font-family: ABeeZee;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #BCC595;
}

#create-new-text:hover{
  font-size: 18px;
  font-weight: bold;
}

#create-new-button{
  border: 3px solid #C9CDAA;
  border-radius: 20px;
  height: 30px;
  width: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;

  cursor: pointer;
}



/* 
new applecation form
*/

#createApp{
  position: relative;
  height: 70vh;
  min-height: 530px;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #F4F5ED;
  box-shadow: 5px 5px 10px rgba(188, 197, 149, 0.25), 10px 10px 20px rgba(188, 197, 149, 0.5);
  border-radius: 32px;
}

#createApp-title{
  color:#BCC595;
  margin-bottom: 50px;
}

#spacer{
  height: 25px;
  width: 80%;
}



#i{
  position: relative;
  width: 30%;
  min-width: 150px;
  height: 35px;
  margin: 0 auto;

  background: #F4F5ED;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(188, 197, 149, 0.25), inset 5px 5px 10px rgba(188, 197, 149, 0.5), inset -5px -5px 10px #FFFFFF;
  border-radius: 40px;

  margin-bottom: 10px;
}

#date-label{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 200px;
}

#date-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 230px;
  margin-top: 15px;
}

#checkbox{
  width: 20px;
  height: 20px;
}

#checkbox-div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#check-label{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-left: 10px;
}

#cancel-button{
  position: relative;
  width: 128px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #F4F5ED;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(188, 197, 149, 0.25), 10px 10px 20px rgba(188, 197, 149, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 32px;

  cursor: pointer;
  margin-bottom: 20px;
}

#cancel-button:hover {
  height: 35px;
  width: 140px;
}

#cancel-button-label{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

#success-create-text{
  font-family: ABeeZee;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #BCC595;
  padding-bottom: 30px;
}