#windowprofile{
  width: 100%;
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding-bottom: 5vh;
}

#current-tier{
  width: 166px;
  height: 150px;

  background: url(apple_seed.png) no-repeat top;
  background-size: 175px;

  padding-bottom: 20px;
}

#tier-username{
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #BCC595;
}

#level-des{
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #BCC595;
}

#next-level{
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color:#646A49;
}