#page{
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;
}

#greencat{
  width: 166px;
  height: 115px;

  /* background-image: url(greencat.png);
  background-size: contain;
  background-repeat:no-repeat; */

  background: url(greencat_noface.png) no-repeat top;
  background-size: 150px;
}


#applecat{
  color:#BCC595;
  padding:0;
  margin-top: 0;
  margin-bottom: 60px;
}

#applecatNOSPACE{
  color:#BCC595;
  padding:0;
  margin-top: 0;
}

#applecatSMOL{
  color:#BCC595;
  padding:0;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 20px;
}

button{
  outline: none;
}

#create-account{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 40px;
}

#create-account:hover{
  font-weight: bold;
}

#or{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}

#login-button{
  position: relative;
  width: 128px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #F4F5ED;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(188, 197, 149, 0.25), 10px 10px 20px rgba(188, 197, 149, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 32px;

  cursor: pointer;
}

#login-button:hover {
  height: 35px;
  width: 140px;
}

#login-button-label{
  font-family: ABeeZee;
  /* color:#343E0A; */
  color:#BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

#login-window{
  position: relative;
  width: 80%;
  max-width: 800px;
  height: 70vh;
  min-height: 500px;
  /* margin:0 auto;
  text-align: center; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: #F4F5ED;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(188, 197, 149, 0.25), 10px 10px 20px rgba(188, 197, 149, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 32px;
}

#user-name, #user-password{
  position: relative;
  width: 30%;
  min-width: 150px;
  height: 35px;
  margin: 0 auto;

  background: #F4F5ED;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(188, 197, 149, 0.25), inset 5px 5px 10px rgba(188, 197, 149, 0.5), inset -5px -5px 10px #FFFFFF;
  border-radius: 40px;
}

input{
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;

  font-family: ABeeZee;
  color: #BCC595;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  position: relative;
  margin: 0 auto;
  padding: 10px;
  padding-left: 20px;
}

::-webkit-input-placeholder {
    color: #BCC595;
}
:-moz-placeholder { /* Upto Firefox 18, Deprecated in Firefox 19  */
    color: #BCC595;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #BCC595;
}
:-ms-input-placeholder {
    color: #BCC595;
}